# -----------------------------------------------------------
# macOS & System
# -----------------------------------------------------------
.DS_Store

# -----------------------------------------------------------
# Python
# -----------------------------------------------------------
__pycache__/
*.py[cod]
*.pyd
*.pyo

# -----------------------------------------------------------
# Poetry & Environments
# -----------------------------------------------------------
.env
.venv/
env/
venv/
src/.venv/
.poetry/

# -----------------------------------------------------------
# Jupyter Notebooks
# -----------------------------------------------------------
.ipynb_checkpoints/

# -----------------------------------------------------------
# IDEs & Editors
# -----------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------
# Data & Artifacts
# -----------------------------------------------------------
# Ignore all raw/processed data but keep README.md
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md
data/external/*
!data/external/README.md

# Specific patterns
*.parquet
*.csv
*.csv.gz
*.sqlite3

# -----------------------------------------------------------
# MLflow Local Tracking
# -----------------------------------------------------------
#mlruns/

# -----------------------------------------------------------
# Reports & Outputs
# -----------------------------------------------------------
reports/shap_plots/*
!reports/shap_plots/README.md

# -----------------------------------------------------------
# Miscellaneous
# -----------------------------------------------------------
cache/
